<div style='display: flex; min-height:100vh; flex-direction: column;'>
    <div class='wrapper dashboard' style='flex: 1 0 auto; overflow:hidden;'>
        <div class="ucsd_header">
            <div class="container">
                <span class="pull-left"><img src="/images/share.png"></span>
                <span class="share">S H A R E</span>
                <img src="/images/logo_UCSD.png">
            </div>
        </div>
        <div class="container">
        	{{outlet}}
        </div>
    </div>
    <div style="clear: both" class="wrapper related_services">
        <div class="container">
            <h2>Related Resources and Services</h2>
            <div class="row">
                <div class="col-md-4 text-center">
                    <a href="http://libraries.ucsd.edu/services/data-curation/" class="btn btn-lg related-services-button text-center">
                        <img style="max-height: 100px; margin: 0 auto; " src="/images/logo-rdcp-white.png">
                    </a>
                </div>
                <div class="col-md-4 text-center">
                    <a href="https://share.osf.io/" class="btn btn-lg related-services-button">
                        <img style="max-height: 100px; margin: 0 auto; " src="/images/share-logo.png">
                    </a>
                </div>
                <div class="col-md-4 text-center">
                    <a href="https://ucsd.edu/" class="btn btn-lg related-services-button">
                        <img style="max-height: 100px; margin: 0 auto; " src="/images/ucsd-logo.png">
                    </a>
                </div>
            </div>
        </div>
    </div>
    {{osf-copyright}}
    {{osf-mode-footer}}
</div>
