<div style='display: flex; min-height:100vh; flex-direction: column;'>
    <div class='wrapper dashboard' style='flex: 1 0 auto; overflow:hidden;'>
        <div class="ucsd_header">
            <div class="container">
                <img src="/images/logo_UCSD.png">
            </div>
        </div>
        <div class="container">
        	{{outlet}}
        </div>
    </div>
    <div style="clear: both" class="wrapper related_services">
        <div class="container">
            <h2>Related Resources and Services</h2>
            <div class="row">
                <div class="col-md-4 text-center">
                    <a href="http://libraries.ucsd.edu/services/data-curation/" class="btn btn-lg related-services-button text-center">
                        Research Data Curation Program
                    </a>
                </div>
                <div class="col-md-4 text-center">
                    <a href="https://share.osf.io/" class="btn btn-lg related-services-button">SHARE</a>
                </div>
                <div class="col-md-4 text-center">
                    <a href="https://ucsd.edu/" class="btn btn-lg related-services-button">UC San Diego</a>
                </div>
            </div>
        </div>
    </div>
    {{osf-copyright}}
    {{osf-mode-footer}}
</div>
