<div style='display: flex; min-height:100vh; flex-direction: column;'>
    <div class='wrapper' style='flex: 1;'>
        {{osf-navbar class='fedhead' loginAction=(action 'login')}}
        <div class="container">
        	{{outlet}}
        </div>
    </div>
    {{osf-copyright}}
    {{osf-mode-footer}}
</div>
