<div class='container-fluid'>
    <div class='container'>
        <div class='row'>
            <div class='col-md-12'>
                <h2>This page tests grid layouts</h2>
            </div>
        </div>
    </div>
</div>

<div class='container-fluid'>
    <div class='container'>
        <div class='row'>
            <div class='col-md-12'>
                {{packery-grid}}
            </div>
        </div>
    </div>
</div>

{{outlet}}
