<div class="widget-body" style="overflow: hidden;">
    {{{item.content}}}
    {{#if item.showButton}}
        <button class="btn related-services-button" style="float: right; margin-bottom: 15px;" {{action "transitionToFacet"}}>More details.</button>
    {{/if}}
</div>
