<div class="widget-body" style="overflow: hidden;">
    {{{item.content}}}
    {{#if item.showButton}}
        <button class="btn" style="float: right; margin-bottom: 15px; margin-top:20px;" {{action "transitionToFacet"}}>More details.</button>
    {{/if}}
</div>
