.widget-body.text-widget {
    padding: 20px;
    overflow: hidden;
}
.widget-body.text-widget.summary {
    padding: 10px;
}
.widget-body.text-widget.summary  div{
    font-size: 15px;
    line-height: 30px;
	  margin: 0;
}
