<div class="widget-body clearfix filter-plaques-container">
    {{#each filters as |filter|}}
        <div class="filter-plaque"><span class="filter-plaque-type">{{filter.key}}</span>&nbsp;&nbsp;&nbsp;&nbsp;<span>{{filter.value}}</span>&nbsp;&nbsp;&nbsp;&nbsp;<span class="pointer" {{action "removeFilter" filter}}>{{fa-icon "close"}}</span></div>
    {{/each}}
</div>
