<div class="widget-body clearfix">
  {{#if widgetSettings.helpText}}
    <div class="text-muted text-smaller">
      <i>({{widgetSettings.helpText}})</i>
    </div>
  {{/if}}


  {{#if widgetSettings.showFilter}}
      {{dropdown-widget widgetSettings=widgetSettings aggregations=aggregations parameters=parameters item=item data=data transitionToFacet=(action 'parentTransitionToFacet')}}
  {{/if}}
    <div class="renderChart"></div>
    {{#if data.length}}
        {{#if widgetSettings.viewAllRoute}}
            {{#unless item.hideViewAll}}
                <div class="text-right m-t-md">
                    <button class="btn btn-link text-bigger" {{action 'transitionToFacet' null 'providers'}}>View all</button>
                </div>
            {{/unless}}
        {{/if}}
    {{else}}
        <p class="text-center">No data providers</p>
    {{/if}}
</div>
