<style>

.chart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;

  .x.axis path {
    display: none;

}

</style>
<div class="chart" id="test"></div>
<div class="chart" id="wordcloud"></div>
