<div class="list-widget widget-body">
    {{#each data as |item|}}
        <a href="#" class="list-widget-item">
            <div class="row">
                <div class="item-number col-xs-3">{{item.number}}</div>
                <div class="item-name col-xs-7"><button {{action "transitionToFacet" item}}>{{item.name}}</button></div>
                <div class="item-name col-xs-2"><i class="fa fa-angle-right"></i></div>
            </div>
        </a>
    {{/each}}
</div>
