<div class="list-widget widget-body">
    {{#each data as |item|}}
        <div class="list-widget-item">
            <div class="row">
                <div class="item-number col-xs-3">{{item.number}}</div>
                <div class="item-name col-xs-9">{{item.name}}</div>
            </div>
        </div>
    {{/each}}
</div>
