<div class="widget-body text-widget {{if item.showButton 'summary'}}" style="overflow: hidden;">
    <div>{{{item.content}}}
        {{#if item.showButton}}
            <button class="btn btn-info pull-right" {{action "transitionToFacet"}}>Read more</button>
        {{/if}}
    </div>
</div>
