<div class="main-application">
    <div class='wrapper dashboard'>
        <div class="ucsd_header">
            <div class="container">
                <div class="row">
                    <div class="col-xs-6">
                        {{#link-to "dashboards.dashboard" "ucsd"}}
                            <div class="navbar-brand"><span style="color: rgb(255, 205, 0);">TRITON</span>SHARE</div>
                        {{/link-to}}
                    </div>
                    <div {{action 'transitionToHome'}} class="col-xs-6 text-right" >
                        <img src="/images/logo_UCSD.png">
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
        	{{outlet}}
        </div>
    </div>
    <div class="wrapper related-services">
        <div class="container">
            <h2>Related Resources and Services</h2>
            <div class="row">
                <div class="col-md-4 text-center">
                    <a href="http://libraries.ucsd.edu/services/data-curation/" class="btn btn-lg related-services-button text-center">
                        <img src="/images/logo-rdcp-white.png">
                    </a>
                </div>
                <div class="col-md-4 text-center">
                    <a href="https://share.osf.io/" class="btn btn-lg related-services-button">
                        <img src="/images/share-logo.png">
                    </a>
                </div>
                <div class="col-md-4 text-center">
                    <a href="https://ucsd.edu/" class="btn btn-lg related-services-button">
                        <img src="/images/UCSanDiegoLogo-Blue.png">
                    </a>
                </div>
            </div>
        </div>
    </div>
    {{osf-copyright}}
    {{osf-mode-footer}}
</div>
