<div style="background-color: rgba(0,0,0,0.5); margin: 0; padding-bottom: 30px;">

    <div class="container">

    <div class="col-md-12 widget" style="padding:15px; background-color: #ffcd00">

        <h1>Welcome to TRITONSHARE</h1>
        This project is a collaboration between UC San Diego, SHARE, and the Center for Open Science. Be aware that this application is a protoype and is subject to change.


    </div>

    </div>


</div>
